#navslider-container {
  width: 100%;
  overflow: hidden;
  background-color: #e5e5e5;
}
#navslider-outer {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#navslider-outer.navslider-compact {
  height: 300px;
}
#navslider-outer.navslider-compact #navslider-container {
  height: calc(348px);
}
#navslider-outer.navslider-enlarged,
#navslider-outer.navslider-enlarged #navslider-container {
  height: auto;
}
#navslider {
  height: 100%;
}
#navslider-outer.navslider-compact #navslider {
  min-width: 100%;
  float: left;
  clear: both;
  white-space: nowrap;
}
#navslider-outer.navslider-enlarged #navslider {
  width: 100%;
}
#navslider h1 {
  font-size: 300%;
  display: block;
  vertical-align: middle;
  line-height: 300px;
  width: 100%;
  text-align: center;
}
#navslider-articles {
  width: 100%;
}
#navslider-outer.navslider-enlarged #navslider-articles {
  text-align: center;
}
a.navslider-slide {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  background-color: #fff;
}
#navslider-outer.navslider-enlarged a.navslider-slide {
  margin: 16px;
  height: auto;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
#navslider-outer.navslider-compact a.navslider-slide {
  height: 300px;
}
.navslider-slide figure {
  background: #999;
  height: 300px;
  width: 300px;
  margin: 0;
  padding: 0;
}
img.navslider-slide--img {
  height: 300px;
  width: 300px;
  opacity: 1;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.navslider-slide figure:hover img {
  opacity: 0.5;
  cursor: pointer;
}
.navslider-slide--title {
  font-family: 'open sans', sans-serif;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #eee;
  position: relative;
  top: -160px;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .navslider-slide--title {
    background: rgba(0, 0, 0, 0.25);
    visibility: hidden;
  }
}
#navslider-outer.navslider-enlarged .navslider-slide--title {
  display: none;
}
.navslider-slide--title_expanded {
  font-family: 'open sans', sans-serif;
  color: #444;
  font-size: 1.5rem;
  margin-top: 6px;
}
.navslider-slide--introtext {
  font-family: 'open sans', sans-serif;
  color: #666;
  text-align: justify;
  padding: 0 6px;
}
.navslider-slide--introtext img {
  display: none;
}
a.navslider-slide:hover .navslider-slide--title {
  visibility: visible;
}
a.navslider-slide:active .navslider-slide--img {
  opacity: 0.5;
}
#navslider-no-articles-msg {
  font-size: 3rem;
  text-align: center;
  line-height: 300px;
  color: #999;
}
#navslider-no-articles-msg:hover {
  cursor: default;
}
#navslider-control-bar {
  width: 100%;
  height: 48px;
  background-color: white;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  line-height: 48px;
  position: relative;
  z-index: 2;
}
#navslider-control-bar p {
  font-size: 2rem;
  color: #bbb;
  line-height: 48px;
  display: inline-block;
  vertical-align: top;
}
#navslider-control-bar p:hover {
  cursor: default;
}
.navslider-control-bar-search {
  display: inline-block !important;
  margin-left: 8px;
  height: 48px;
  padding: 0 !important;
  vertical-align: top;
}
.mdl-textfield i,
.mdl-textfield label {
  color: #999;
  bottom: 7px !important;
}
.mdl-textfield.is-focused i {
  color: black;
}
.mdl-textfield.is-dirty i {
  color: #5fc69b;
}
i.navslider-enlarge_button {
  font-size: 4rem;
  line-height: 48px;
  color: #5fc69b;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.35s ease-in-out;
  margin: 0 8px 0 8px;
}
.navslider-enlarge_button:hover {
  cursor: pointer;
}
.navslider-enlarge_button.down {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
#navslider-control-bar-categories {
  height: 100%;
  width: auto;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}
#navslider-control-bar-categories > select {
  font-size: 1.5rem;
  color: #999;
  display: inline-block;
  vertical-align: top;
  height: 2rem;
  margin: calc(9.6px) 8px 0 8px;
  background-color: white;
  border: 1px solid #999;
}
.navslider-text_tags {
  margin: 0 8px 0 8px;
}
.navslider-text_category {
  margin-left: 8px;
}
#navslider-control-bar-tags {
  height: 100%;
  width: auto;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}
#navslider-control-bar-tags > p {
  display: inline;
  color: #999;
  font-size: 1rem;
  font-family: 'open sans', sans-serif;
  padding: 4px;
  margin: 0 4px 0 4px;
  line-height: 48px;
  -webkit-transition: border, color 0.25s;
}
#navslider-control-bar-tags > p:hover {
  cursor: pointer;
}
#navslider-control-bar-tags > p.selected {
  color: black;
  border-bottom: 5px solid #5fc69b;
}
.select2-selection__arrow {
  background-color: #363B40;
}
.navslider-hide {
  display: none;
}
.navslider-disabled {
  pointer-events: none;
}
.navslider-noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navslider-shadow--bottom {
  -webkit-box-shadow: 0px 1px 5px 0px #1c1c1c;
  -moz-box-shadow: 0px 1px 5px 0px #1c1c1c;
  box-shadow: 0px 1px 5px 0px #1c1c1c;
}
.navslider-showbox {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 50%;
  right: 0;
  width: 128px;
  height: 128px;
}
.navslider-loader {
  position: relative;
  margin: 0px auto;
  width: $width;
}
.navslider-loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.navslider-circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.navslider-path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
.material-icons {
  text-rendering: optimizeLegibility;
}
