* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body, html, .mdl-layout, .mdl-layout__content, .page-content {
  height: auto;
  color: #424242;
  font-family: "Roboto", "Open Sans", sans-serif; }

.mdl-grid p {
  font-size: 120%; }

p, span, h1, h2, h3, h4, figcaption {
  font-family: "Roboto", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

a {
  text-decoration: none; }

#navslider {
  width: 100%; }
  #navslider .navslider__control {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background: white;
    -webkit-box-shadow: 0px 4px 5px rgba(28, 28, 28, 0.35);
    -moz-box-shadow: 0px 4px 5px rgba(28, 28, 28, 0.35);
    box-shadow: 0px 4px 5px rgba(28, 28, 28, 0.35); }
    #navslider .navslider__control div {
      display: inline-block; }
      #navslider .navslider__control div p {
        display: inline-block; }
    #navslider .navslider__control .navslider__control--search .mdl-textfield {
      padding: 0;
      margin: 0 8px; }
      #navslider .navslider__control .navslider__control--search .mdl-textfield label {
        margin-top: 0px;
        bottom: 8px;
        overflow: visible; }
      #navslider .navslider__control .navslider__control--search .mdl-textfield #navslider__control--search-textfield {
        padding-bottom: 0; }
    #navslider .navslider__control .navslider__control--categories {
      margin-right: 8px; }
      #navslider .navslider__control .navslider__control--categories select {
        width: 150px; }
      #navslider .navslider__control .navslider__control--categories .select2-selection__arrow {
        background-color: #363B40; }
    #navslider .navslider__control .navslider__control--tags p {
      margin: 0 8px;
      -webkit-transition: border, color 0.25s;
      color: #999;
      padding-bottom: 7px; }
      #navslider .navslider__control .navslider__control--tags p:hover {
        cursor: pointer; }
      #navslider .navslider__control .navslider__control--tags p.selected {
        color: black;
        border-bottom: 5px solid #5fc69b; }
  #navslider .navslider__articles-container--timeline-arrow {
    background-color: #F1F1F1;
    text-align: center; }
    #navslider .navslider__articles-container--timeline-arrow i {
      font-size: 2rem; }
  #navslider .navslider__articles-container {
    background-color: #F1F1F1;
    padding-top: 0;
    padding-bottom: 0; }
    #navslider .navslider__articles-container #navslider__articles {
      min-height: 300px; }
      #navslider .navslider__articles-container #navslider__articles .navslider__articles--no-content-message {
        font-size: 3rem;
        text-align: center;
        line-height: 300px;
        color: #999; }
      #navslider .navslider__articles-container #navslider__articles .navslider__article {
        width: 100%;
        margin: 0 auto;
        padding: 0 16px 8px 16px;
        text-align: center;
        -webkit-transition: background-color 0.25s; }
        @media only screen and (min-width: 1025px) {
          #navslider .navslider__articles-container #navslider__articles .navslider__article {
            width: 65%;
            min-width: 400px; } }
        #navslider .navslider__articles-container #navslider__articles .navslider__article:hover {
          background-color: #fefefe; }
          #navslider .navslider__articles-container #navslider__articles .navslider__article:hover .navslider__article--title {
            background-color: white;
            -webkit-box-shadow: 0px 2.5px 8px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 2.5px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 2.5px 8px rgba(0, 0, 0, 0.25); }
        #navslider .navslider__articles-container #navslider__articles .navslider__article .navslider__article--date {
          color: #5b5b5b;
          font-size: 150%;
          font-weight: normal;
          border: 2px solid #5b5b5b;
          padding: 4px;
          display: inline-block;
          margin-bottom: 26px;
          -webkit-border-radius: 0.1em;
          -moz-border-radius: 0.1em;
          border-radius: 0.1em; }
          #navslider .navslider__articles-container #navslider__articles .navslider__article .navslider__article--date:after {
            content: '';
            width: 0;
            position: relative;
            border: 1px solid #5b5b5b;
            top: 29px;
            left: -48%; }
          #navslider .navslider__articles-container #navslider__articles .navslider__article .navslider__article--date:hover {
            cursor: pointer; }
        #navslider .navslider__articles-container #navslider__articles .navslider__article .navslider__article--content {
          -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
          -webkit-border-radius: 0.1em;
          -moz-border-radius: 0.1em;
          border-radius: 0.1em;
          background-color: #ececec;
          margin-bottom: 13px;
          height: 225px; }
          #navslider .navslider__articles-container #navslider__articles .navslider__article .navslider__article--content:hover {
            cursor: pointer; }
          #navslider .navslider__articles-container #navslider__articles .navslider__article .navslider__article--content .navslider__article--image {
            height: 225px;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important; }
          #navslider .navslider__articles-container #navslider__articles .navslider__article .navslider__article--content .navslider__article--title {
            color: #5b5b5b;
            font-weight: normal;
            background: -webkit-gradient(linear, left top, left bottom, from(white), to(#F1F1F1));
            background: -moz-linear-gradient(top, white, #F1F1F1);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#F1F1F1');
            line-height: 40px;
            padding: 0;
            margin: 0;
            position: relative;
            top: calc(-40px / 2);
            width: 90%;
            margin: 0 auto;
            -webkit-transition: box-shadow 0.15s; }

.vertical-line {
  width: 0;
  height: 100px;
  margin: 0 auto;
  border: 1px solid black; }
  .vertical-line.vertical-line--light {
    border: 1px solid #bababa; }
  .vertical-line.vertical-line--50px {
    height: 50px; }

.navslider--shadow {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }

.navslider--noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.navslider--disabled {
  pointer-events: none; }

.navslider--hide {
  display: none; }

.material-icons {
  text-rendering: optimizeLegibility; }

/*# sourceMappingURL=mod_navslider.css.map */
